services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.5
    restart: unless-stopped
    container_name: jellyfin
    expose:
      - '8096'
      - '7359'
    volumes:
      - ./config/jellyfin:/config
      - ./media:/media
    environment:
      - TZ=Asia/Seoul
      - PUID=1001
      - PGID=1001
    networks:
      - default

  filebrowser:
    image: filebrowser/filebrowser:v2-s6
    restart: unless-stopped
    container_name: filebrowser
    expose:
      - '80'
    volumes:
      - ./data/filebrowser:/database
      - ./config/filebrowser:/config
      - ./media:/srv
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Asia/Seoul
    networks:
      - default
  metube:
    image: 'alexta69/metube:latest'
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    container_name: metube
    restart: unless-stopped
    expose:
      - '8081'
    volumes:
      - ./config/metube/cookies:/cookies
      - ./media:/downloads
    environment:
      - TZ=Asia/Seoul
      - UID=1001
      - GID=1001
      - 'YTDL_OPTIONS={"cookiefile":"/cookies/cookies.txt", "format": "best", "exec": "ffmpeg -i %(filepath)q -c:v libx264 -c:a aac %(filepath)q.h264.mp4"}'
    networks:
      - default

  mainpage: #Welcome page server
    image: 'busybox:1.36.1-glibc'
    container_name: mainpage
    restart: unless-stopped
    expose:
      - '80'
    volumes:
      - ./config/mainpage:/www:ro
    command: httpd -f -p 80 -h /www
    networks:
      - default

  wordpress:
    image: wordpress:6.9.0-php8.1-apache
    container_name: wordpress
    restart: unless-stopped
    expose:
      - '80'
    environment:
      TZ: Asia/Seoul
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DB_NAME}
    volumes: #구조를 잘 몰라서 data만 함. 앞으로도 나누지 않을듯.
      - ./data/wordpress:/var/www/html
    networks:
      - default

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    container_name: mysql
    environment:
      TZ: Asia/Seoul
      MYSQL_DATABASE: ${MYSQL_DB_NAME}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      password: '12345678'
    volumes:
      - ./data/mysql:/var/lib/mysql
    networks:
      - default


networks:
  default:
    name: ${DOCKER_NETWORK_NAME}
    external: true